.venv
**/.venv
venv
**/venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
node_modules
.git
.gitignore
.DS_Store
.idea
.vscode
data
media
uploads
.cache
.mypy_cache
.pytest_cache
.pgadmin_data/
.postgres_data/
.qodo/
.redis_data/